# Lists


*   List are mutable objects
*   List can be indexed in the same way as strings
*   List can contains various datatypes

In [4]:
L1 = ['Pradeep','abc', 34.5, 3, 'xyz',True]
print(L1)


L1[0] = 'Pqr'# since list are mutable we can change the object present at index 0


print(L1)

['Pradeep', 'abc', 34.5, 3, 'xyz', True]
['Pqr', 'abc', 34.5, 3, 'xyz', True]

**Basic Functions used in list**

*   List.sort() used to sort the list of NUMBERS only in ascending order
*   List.appened(object) append the object at the end of the list
*   List.reverse() Reverses the list
*   List.insert(position, object) Inserts the object at the specified position in the list
*   List.pop(index) Pops the obects at the index and deletes it from the list
*   List.remove(object) Searches the list and removes the object specified only from the first location that it encounters
E.G : List = ["pradeep","pradeep"]
if you use List.remove("pradeep") it removes the pradeep present at 0 index only

In [24]:
print(L1)

L1.append(3)

print(L1)

print(L1.count("Pradeep"))

L1.remove("Pradeep")

L1.pop(3)

print(L1)

['WHO', True, 'xyz', 'Pradeep', 3, 3]
['WHO', True, 'xyz', 'Pradeep', 3, 3, 3]
1
['WHO', True, 'xyz', 3, 3]

# Tupple


*   Tupple is immutable

In [25]:
a = (1,)
print(type(a))

<class 'tuple'>

**Tuple methods**

*  tuple.count(object) Return the number of times the object appeared in the tuple
*  tuple.index(object) Return the first index at which the the object appeared

# Problems

In [3]:
#Program to store fruits entered by the user to a list

n = int(input("Enter the number of fruits "))

fruits = []

for i in range(n):
  fruits.append(input(f"Enter the {i} fruit name "))

print(fruits)

Enter the number of fruits 4
Enter the 0 fruit name Apply
Enter the 1 fruit name mango
Enter the 2 fruit name orange
Enter the 3 fruit name banana
['Apply', 'mango', 'orange', 'banana']

In [5]:
#Program to take input of marks of the student and the display those in sorted manner

n= int(input("ENter the number of students "))

marks = []

for i in range(n):
  marks.append(int(input(f"ENter the {i+1} student's marks ")))

marks.sort()

print(marks)

ENter the number of students 7
ENter the 1 student's marks 123
ENter the 2 student's marks 34221
ENter the 3 student's marks 1
ENter the 4 student's marks 309482
ENter the 5 student's marks 123
ENter the 6 student's marks 1
ENter the 7 student's marks 2
[1, 1, 2, 123, 123, 34221, 309482]

In [14]:
n = int(input("Enter the Number of elements "))

number = []

total_sum=0

for i in range(n):
  number.append(int(input(f"ENter the {i+1} number ")))

for i in number:
  total_sum+=i

print(total_sum)

Enter the Number of elements 2
ENter the 1 number 12
ENter the 2 number 12
24